<%= form_for(@caballo_x_carrera) do |f| %>
  <% if @caballo_x_carrera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caballo_x_carrera.errors.count, "error") %> prohibited this caballo_x_carrera from being saved:</h2>

      <ul>
      <% @caballo_x_carrera.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :puesto %><br />
    <%= f.number_field :puesto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
